/* Estilo generales*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

a{
    text-decoration: none;
}

body{
    background: rgb(39, 37, 37);
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    background-color: rgb(22, 21, 20);
    padding: 40px;
    margin: 20px auto;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
    border-radius: 0.5rem;


}

.contenedor h1{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
    color: rgb(228, 228, 228);
}


.contenido{
    display: flex;
    width: 100%;
    overflow: hidden;
}


.contenido .info,
.contenido .formulario{
    width: 50%;
}





.info{
    padding-left: 10px;
}

.info .col{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    font-size: 16px;
    align-items: center;
    flex-wrap: nowrap;
}

.info .col .icono{
    color: orange;
    margin-right: 10px;

}


.info .col p{
    color: rgb(228, 228, 228);
}








.info .redes-s{
    width: 100%;
    overflow: hidden;
    padding-left: 25px;
    display: flex;
    flex-wrap: wrap;
}

.info .redes-s a{
    display: flex;
    width: 40px;
    height: 40px;
    background: orange;
    color: rgb(255, 255, 255);
    margin: 5px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .4);


}


.info .redes-s a:hover{
    box-shadow: 0px 3px 8px rgb(255, 255, 255);
    background: orangered;
}



.formulario{
    padding-left: 10px;
}

.formulario input[type='text'],
.formulario textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 20px;
    border: 1px solid #999;
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    outline: 0;
    border-radius: 0.5rem;


}





.formulario textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 200px;
}


.formulario input[type='text']:focus,
.formulario textarea:focus{
    border: 3px solid orange;
    border-radius: 0.5rem;
}

.formulario button{
    padding: 12px 30px;
    border: transparent;
    background: orange;
    color: beige;
    cursor: pointer;
    float: right;
    border-radius: 0.5rem;
}

.formulario button:hover{
    box-shadow: 0px 3px 8px rgb(255, 255, 255);
    background: orangered;
}




